
.container {
    background-image: linear-gradient(to right, rgb(232, 54, 134), rgb(247, 88, 24));
    height: 450px;
    display: inline-block;
    width:100%;
    
    
}
.box {
    background-color: none;
    height: 300px;
    width:400px;
    border: 5px;
    padding:1px 2px 70px 56px;
    display:inline-block;
    
    
}
h1 {font-size: 38px;
    height: 80px;

}
.h5 {
    height: 20px;
}

header {
     word-spacing: 30px;
     margin:10px

}
.container-two {
    background-image: linear-gradient(to right, rgb(232, 54, 134), rgb(247, 88, 24));
    height: 350px;
    border:1px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;



}
.inner-container {
    display:flex;
    flex-direction:column;
    Width:40%;
    height:40%;
    align-items: center;
}

.image-1{
    width: 40%;
    height: 58%;
    margin: 30px;
    padding:39px 5px 5px 60px;

}
.image-2{
    height:100%;
    width:75%;
    padding:10px;
}
.image-3 {
    width:70%;
    height:120%;
    

}
.image-4 {
    width:75%;

}

.container-three { 
    background-color: white;
    height: 600px;
    padding:50px 5px 20px 200px;
    line-height: 40px;
    
}

.image-5 {
    height:10%;
    width:4%;
    padding:1px 15px 1px 1px


}
.container-four {
    background-color: rgb(244, 216, 220);
    height:57px;
    text-align: center;

}
footer {
    word-spacing: 30px;
    margin:8px;
}